.home-main-content.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paddingY-7 {
    padding-block: 7rem;
}

h4.userTitle {
    color: #ffffffe0;
    font-size: 2.125rem;
    text-transform: capitalize;
}

.vr {
    color: #838383;
}

.userRowClass.hstack {
    margin-block-end: 1rem !important;
    border-block-end: 1px solid;
    border-block-end-color: #332f3d;
    padding-block-end: 1rem !important;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #ffffffe0;
    text-shadow: #ffffffe0;
}